<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>{% block title %} CEHN {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'CEHN/images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'CEHN/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'CEHN/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'CEHN/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'CEHN/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'CEHN/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'CEHN/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CEHN/css/main.css' %}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    {% block container %}
    <div class="container-login100">
        {% block wrap %}
        <div class="wrap-login100" style="padding-top: 60px;">
            {% block body %}
            {% endblock %}
        </div>
        {% endblock %}
    </div>
    {% endblock %}
</div>

<!--===============================================================================================-->
<script src="{% static 'CEHN/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'CEHN/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'CEHN/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'CEHN/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'CEHN/vendor/tilt/tilt.jquery.min.js' %}"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="{% static 'CEHN/js/main.js' %}"></script>
{% block extrajs %} {% endblock%}
{% block admin %} <!--<a href="/admin">Dirigirse a admin</a> --> {% endblock %}

</body>
</html>