{% extends 'base/base.html' %}

{% load static %}

{% block title %}APARTAR CITAS{% endblock %}
<body>
{% block body %}

<div class="login100-form-title">
    <div class="login100-form-title">
        <a style="padding-left: 750px;" href="{% url 'logout' %}?next=/login"><input type="image" height="35px"
                                                                                     src="{% static 'CEHN/images/icons/iconfinder_power_926636.png' %}"></a>

    </div>
    {% if object_list %}
    <form class="" method="post" action="/avail/">
        <div class="cont_label text-left">
            <label class="">SELECCIONA TU MÉDICO:</label>
        </div>
        <br>
        {% csrf_token %}
        <select class="form-control form-control" name="id_Medic">
            {% for x in object_list %}
            <option value="{{ x.id_Medic }}" name="name_medic">{{ x.name }}{{" "}}{{ x.lastname1 }}</option>
            {% endfor %}
        </select><br><br>
        {% endif %}
        <div class="">
            <div class="cont_label text-left">
                <label class="">SELECCIONA LA FECHA:</label>
            </div>
            <br>
            <input type="date" name="date" style="cursor:pointer;" required>
            <input type="submit" class='btn btn-dark' name="send" style="cursor:pointer;" value="APARTAR">
        </div>
    </form>
    <br>
    <a class="txt2" href="{% url 'CEHN:citas' %}">
        Volver
    </a>
</div>

{% endblock %}

</body>
</html>