{% extends 'base/base.html' %}

{% load static %}

{% block title %}AVAIL{% endblock %}
<body>
{% block container %}
<div class="container-login100 fondoContainer">
    {% block wrap %}
    <div class="wrap-login100" style="padding-top: 60px;">
        {% block body %}

        {% if qsea %}
        <div class="login100-form-title">
            <div class="login100-form-title">
                <div class="login100-form-title">
                    <a style="padding-left: 750px;" href="{% url 'logout' %}?next=/login"><input type="image"
                                                                                                 height="35px"
                                                                                                 src="{% static 'CEHN/images/icons/iconfinder_power_926636.png' %}"></a>

                </div>
                <form class="login100-form-title" method="POST" action="/asignar/">
                    {% csrf_token %}
                    <label>MEDICO</label>
                    <input class="form-control" hidden name="medico" type="text" value="{{ id_Medic.id_Medic }}">
                    <input class="form-control" disabled type="text" value="{{ id_Medic }}"><br><br>
                    <label>FECHA</label>
                    <input class="form-control" hidden name="fecha" type="text" value="{{ date }}">
                    <input class="form-control" disabled type="text" value="{{ date }}"><br><br>
                    <label>OFICINA</label>
                    <input class="form-control" hidden name="oficina" type="text" value="{{ id_off.id_off }}">
                    <input class="form-control" disabled type="text" value="{{ id_off }}">
                    <br><br>
                    <p>SELECCIONA LA HORA DE TU CITA</p>
                    <select class="form-control" name="intervalo">
                        {% for x in qsea %}
                        <option value="{{x.id_inter1.id_inter}}">{{ x.id_inter1 }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    <center>
                        <input class="btn btn-primary" style="cursor: pointer;" type="submit" value="ASIGNAR">
                    </center>
                    <a class="txt2" href="{% url 'CEHN:medic' %}">Volver</a>
                </form>
            </div>
            {% else %}
            <div class="login100-form-title">
                <a style="padding-left: 750px;" href="{% url 'logout' %}?next=/login"><input type="image"
                                                                                             height="35px"
                                                                                             src="{% static 'CEHN/images/icons/iconfinder_power_926636.png' %}"></a>

            </div>
            <div class="login100-form-title">
                <h2>No hay disponibilidad con este medico para esa fecha</h2><br>
                <a class="btn btn-info" href="{% url 'CEHN:medic' %}">Volver</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}
{% endblock %}
</body>