{% extends 'base/base.html' %}

{% load static %}

{% block title %}CITA APARTADA{% endblock %}
<body>
{% block container %}
<div class="container-login100 fondoContainer">
    {% block wrap %}
    <div class="wrap-login100" style="padding-top: 60px;">
        {% block body %}
        <div class="login100-form-title">
            <a style="padding-left: 750px;" href="{% url 'logout' %}?next=/login"><input type="image"
                                                                                         height="35px"
                                                                                         src="{% static 'CEHN/images/icons/iconfinder_power_926636.png' %}"></a>

        </div>
        <div class="login100-form-title">
            {% if message and cita %}
            <h1>{{ message }}</h1>
            <br><br>
            <p class="text_appo"><b>Fecha, Hora y Médico :</b> {{ cita.id_aval1 }}</p>
            <p class="text_appo"><b>Nombre del Paciente:</b> {{ cita.id_pac1 }}</p>
            <p class="text_appo">El estado de la Cita es <b>SEPARADA</b>, si no puede asisitir por favor cancelela con
                mínimo 24 horas de anticipación</p><br><br>
            {% endif %}
            <a class="btn btn-info" href="{% url 'CEHN:citas' %}">Citas Apartadas</a>
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}
{% endblock %}
</body>
