<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>HORA INICIAL CITA</th>
                <th>HORA FINAL CITA</th>
            </tr>
        </thead>
        {% if object_list %}
        <tbody>
            {% for y in object_list %}
            <tr>
                <td>{{ y.id_inter }}</td>
                <td>{{ y.hour_start}}</td>
                <td>{{ y.hour_finish}}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</body>
</html>