{% extends 'base/base.html'%}

{% load static %}

{% block title %}Login{% endblock %}

<body>

{% block body %}

{% if form.errors %}
<div class="login100-form-title errorJ">
    <p style="color: red; font-weight: bold; font-size: large;">Your username and password didn't match. Please try again.</p>
</div>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<div class="login100-form-title">

    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
</div>
{% else %}

{% endif %}
{% endif %}

<div class="login100-form-title">
    <h1>External Consultation Naval Hospital</h1>
</div>
<div class="login100-pic js-tilt" data-tilt>
    <img src="{% static 'CEHN/images/img-01.png' %}" alt="IMG">
</div>

<form class="login100-form validate-form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <span class="login100-form-title">
						Member Login
					</span>

    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <input class="input100" type="text" name="username" placeholder="Username" autofocus required id="id_username">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Password is required">
        <input class="input100" type="password" name="password" required id="id_password" placeholder="Password">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit" value="login">
            Login
        </button>
    </div>

    <div class="text-center p-t-12">
        <a class="txt2" href="{% url 'password_reset' %}">
            Create or reset password
        </a>
    </div>

</form>

{% endblock %}

</body>
