<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form1.as_p }}
    <input type="submit" value="Enviar">
</form>
</body>
</html>