h1 {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 76pt;
    animation-duration: 3s;
    animation-name: slidein;
}

h3 {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

body {
    padding-left: 15px;
}

.page-header {
    background-color: transparent;
    margin-top: 0;
    text-align: center;
    padding: 20px 20px 20px 40px;
}


li a {
    color: green;
    font-family: 'Ubuntu', sans-serif;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
}
