<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign</title>
</head>
<body>

{% block object-tools %}
    <div>
        <form action="" method="POST">
            <table class="egt">
                <tr>
                    <td><label>Medico</label></td>
                    <td>
                        <select name="id_med2" id="MedicSelect" onchange="toDecide('medic')">
                            <option id="initialMedic">Selecciona</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>Fecha</label></td>
                    <td><input id="dateSelected" type="date" name="date" onchange="toDecide('date')"></td>
                </tr>
            </table >
            <div>Fecha
                <select name="InterSelect" id="InterSelect">
                    <option id="initialInter">Selecciona</option>
                <button type="submit" id="assign">Asignar</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
    <br />

{% endblock %}

<script>
main()
function toDecide(choice){
    var me = this
    JsonData = main()
    if (choice == 'medic') {
        myFunction(JsonData)
    }else if (choice == 'date') {
        myFunction2(JsonData)
    }
}
function main(){
    var availability_list = '{{availability_list}}'
    var select = document.getElementById('MedicSelect');
    var JsonData = [];
    var Json = {};
    {% for availability in availability_list %} 
        var Json = {
            medic:'{{availability.id_med2}}',
            date:'{{availability.date}}',
            inter:'{{availability.id_inter1}}',
            state:'{{availability.state}}',
            office:'{{availability.id_off2}}'
        };
        JsonData.push(Json);
    {% endfor %}
    for (var i = JsonData.length - 1; i >= 0; i--) {
        var option = document.createElement("option");
        option.text = JsonData[i].medic;
        option.id = JsonData[i].medic
        select.add(option);
    }
    return JsonData
}
function myFunction(JsonData) {
    var select = document.getElementById('MedicSelect');
    var InterSelect = document.getElementById('InterSelect');
    var inters = InterSelect.options
    var medic_id = select.value;
    if (inters) {
        for( i = 0; i<inters.length; i++){
            if(inters[i].id == medic_id){
                inters[i].style.display = "none";
            }else{
                inters[i].style.display = "block";
            }
        }
    }
}
function myFunction2(JsonData){
    var dateSelected = document.getElementById('dateSelected');
    var InterSelect = document.getElementById('InterSelect');
    Date.parse(JsonData[0].date)
    if(JsonData && dateSelected){
        for (var i = JsonData.length - 1; i >= 0; i--) {
            debugger
            if(Date.parse(JsonData[i].date) == Date.parse(dateSelected.value)){
                console.log('sii')
            }
        }
    }

}
</script>
</body>
</html>
