{% extends 'base/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
<body>
{% block body %}
<div class="login100-form-title text-left">
    <h1>Welcome, {{ user.get_username }}</h1>
</div>
<div class="login100-form-title">
    {% if user.is_authenticated  %}
        {% if user.is_staff or user.type == 'A' %}
        <ul>
        <li><a href="medicos">Ver Citas</a></li>
        <li><a href="create/availability">Crear disponibilidad</a></li>
        <li><a href="registrar/paciente">Registrar paciente</a></li>
        <li><a href="registrar/medico">Registrar medico</a></li>
        <li><a href="registrar/admin">Registrar admin</a></li>
        </ul>
        {% elif user.is_staff or user.type == 'P' %}
        <li><a href="citas">Citas</a></li>
        {% elif user.is_staff or user.type == 'M' %}
        <li><a href="consultas">Consultas</a></li>
         {% endif %}
        <li><a href="{% url 'logout' %}?next=/login">Logout</a></li>
    {% endif %}
</div>
{% endblock %}
{% block admin %} {% endblock %}
</body>
