{% extends 'base/base.html' %}

{% load static %}

{% block title %}CONSULTA MEDICA{% endblock %}
<body>
{% block body %}
<div class="login100-form-title" style="padding-bottom: 44px;">
    <h1>Consulta Externa Hospital Naval</h1>
</div>
<div class="login100-form-title" style="width: 20%;">
        <span class="login100-form-title">
						Hola, {{user.get_username}}.
					</span>
</div>
<div>
    <h1>Consulta Médica</h1>
</div>

<div class="login100-form-title" style="width: 20%;">
    <a href="{% url 'logout' %}?next=/login"><input type="image" height="35px"
                                                    src="{% static 'CEHN/images/icons/iconfinder_power_926636.png' %}"></a>
</div>
<div>
    <h3>Paciente:   {{ form.instance.id_appo2.id_pac1 }}</h3>
    <h3>Edad:       {{ form.instance.id_appo2.id_pac1.age }}</h3>
</div>

        <form method="post">
            {% csrf_token %}
            <table class="table table-dark table-striped table-hover text-center" border="1">
                <thead>
                    <td colspan="2"><h2>Anamnesis</h2></td>
                </thead>
                <tbody>
                    <tr>
                        <td>Sintomas: </td>
                        <td>{{ form.symptom }}</td>
                    </tr>
                    <tr>
                        <td>Diagnostico: </td>
                        <td>{{ form.diag }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-dark table-striped table-hover text-center" border="1">
                <thead>
                    <td><h2>Medicamentos</h2></td>
                    <td><a class="login100-form-btn"  href="{% url 'CEHN:medicamentos' form.instance.id_cons %}">Añadir</a></td>
                </thead>
                <tbody>
                    {% for m in medicamentos %}
                    <tr>
                        <td colspan="2"><h6>{{ m.medi.name }}</h6></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2"><h5>No ha recetado ninguno</h5></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><input type="submit" value="guardar" class="login100-form-btn" style="border-radius: 25px;"></td>
                        <td><a class="login100-form-btn botonJaime" href="{% url 'CEHN:consultas' %}">Regresar</a></td>
                    </tr>
                </tbody>


            </table>

        </form>
{% endblock %}
</body>
