{% extends 'base/base.html' %}

{% load static %}

{% block title %}CANCELAR CITAS{% endblock %}
<body>

{% block body %}

<!-- Modal -->

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cancelar cita</h4>
            </div>
            <div class="modal-body">
                Fecha: {{ form.instance.id_aval1.date }}<br>
                Hora: {{ form.instance.id_aval1.id_inter1.hour_start }}<br>
                Consultorio: {{ form.instance.id_aval1.id_off2.door_number }}<br>
                Medico: {{ form.instance.id_aval1.id_med2.name }}<br>
            </div>
            <div class="modal-footer">

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ form2.as_p }}
                    <button class="btn btn-default btn-outline-danger" type="submit" value="Cancelar">Cancelar</button>
                    <a class="btn btn-default btn-outline-success" href="{% url 'CEHN:citas' %}">REGRESAR</a>
                </form>
            </div>
        </div>

    </div>
</div>

<!-- End modal -->

<div class="login100-form-title">
    <center>
        <button style="width: 40%;" type="button" class="login100-form-btn botonJaime" data-toggle="modal"
                data-target="#myModal">
            ¿Desea cancelar?
        </button><br>

        <a style="width: 40%" class="login100-form-btn botonJaime" href="{% url 'CEHN:citas' %}">Regresar</a>
    </center>

</div>


{% endblock %}

</body>
