{% extends 'base/base.html' %}

{% load static %}

{% block title %}GESTION CITAS{% endblock %}
<body>

{% block body %}

<div class="login100-form-title" style="padding-bottom: 44px;">
    <h1>Consulta Externa Hospital Naval</h1>
</div>

<div class="login100-form-title" style="width: 60%;">
    <a href="{% url 'CEHN:medic' %}" class="login100-form-btn" style="width: 50%">
        Apartar cita
    </a>
</div>

<div class="login100-form-title" style="width: 20%;">
        <span class="login100-form-title">
						Hola, {{user.get_username}}.
					</span>
</div>

<div class="login100-form-title" style="width: 20%;">
    <a href="{% url 'logout' %}?next=/login"><input type="image" height="35px"
                                                    src="{% static 'CEHN/images/icons/iconfinder_power_926636.png' %}"></a>
</div>

{% if object_list %}
<div class="login100-form-title" style="padding-bottom: 44px;">
    <h2>Citas apartadas</h2>
</div>
<table class="table table-dark table-striped table-hover text-center" border="1">
    <thead>
    <td>Fecha</td>
    <td>Hora</td>
    <td>Medico</td>
    <td colspan="2">Modificar</td>
    </thead>
    <tbody>
    {% for apo in object_list %}
    <tr>
        <td>{{ apo.id_aval1.date }}</td>
        <td>{{ apo.id_aval1.id_inter1 }}</td>
        <td>{{ apo.id_aval1.id_med2 }}</td>
        {% if apo.appointment == 'CF' %}
            <td colspan="2">Cita Confirmada</td>
        {% else %}
            <td>
                <a href="{% url 'CEHN:aplazar'  apo.id_appo %}" class="login100-form-btn" style="border-radius: 25px;">
                    Aplazar
                </a>
            </td>
            <td>

                <a class="login100-form-btn botonJaime" href="{% url 'CEHN:cancelar' apo.id_appo %}">Cancelar</a>
            </td>
        {% endif %}
    </tr>
    {% endfor %}

    </tbody>
</table>
{% else %}
<div class="login100-form-title" style="padding-bottom: 44px;">
    <h2>No tiene citas apartadas</h2>
</div>
{% endif %}
<script>

    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })

</script>
{% endblock %}

</body>
