{% extends 'base/base.html' %}

{% load static %}

{% block title %}CONFIRMAR CITA{% endblock %}
<body>
{% block body %}
    <div class="login100-form-title" style="padding-bottom: 44px;">
        <h1>Consulta Externa Hospital Naval</h1>
    </div>
   <form method="post">
       {% csrf_token %}
       {{ form.as_p }}
       <button type="submit" value="Confirmar" class="btn btn-default btn-outline-success">Confirmar</button>
       <a class="btn btn-default btn-outline-warning" href="{% url 'CEHN:medicos' %}">REGRESAR</a>
    </form>
{% endblock %}
</body>
