{% extends 'base/base.html' %}

{% load static %}

{% block title %}medical consultation{% endblock %}
<body>

{% block body %}

<div class="login100-form-title">
    <h1>Consulta Medica</h1>
</div>
<div class="login100-form-title text-center">
    <form action="." method="POST">
        {% csrf_token %}
            {{ form.as_p }}
            {{ form1.as_p}}
         <div class="container-login100-form-btn">
            <input class="login100-form-btn" style="width: 35%" type="submit" value="Enviar">
        </div>
    </form>
</div>
{% if message %}
<p>{{ message }}</p>
{% endif %}

<a href="{% url 'CEHN:home' %}"></a>
</body>
{% endblock %}

</html>
