{% extends 'base/base.html' %}

{% load static %}

{% block title %}CONSULTAS{% endblock %}
<body>
{% block body %}
    <div class="login100-form-title" style="padding-bottom: 44px;">
        <h1>Consulta Externa Hospital Naval</h1>
    </div>

    <div class="login100-form-title" style="width: 20%;">
        <span class="login100-form-title">
						Hola, {{user.get_username}}.
					</span>
    </div>
    <div class="login100-form-title" style="width: 20%;">
        <a href="{% url 'logout' %}?next=/login"><input type="image" height="35px"
                                                    src="{% static 'CEHN/images/icons/iconfinder_power_926636.png' %}"></a>
    </div>
    {% if object_list %}
    <div class="login100-form-title" style="padding-bottom: 44px;">
        <h2>Citas Programadas</h2>
    </div>
    <table class="table table-dark table-striped table-hover text-center" border="1">
        <thead>
            <td>Fecha</td>
            <td>Hora</td>
            <td>Paciente</td>
            <td>Accion</td>
        </thead>
        <tbody>
            {% for con in object_list %}
            <tr>
                <td>{{ con.id_appo2.id_aval1.date }}</td>
                <td>{{ con.id_appo2.id_aval1.id_inter1 }}</td>
                <td>{{ con.id_appo2.id_pac1 }}</td>
                <td><a class="login100-form-btn" href="{% url 'CEHN:actualconsul' con.id_cons %}">Atender</a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% else %}
    <div class="login100-form-title" style="padding-bottom: 44px;">
    <h2>No Tiene Consultas Programadas</h2>
</div>
    {% endif %}
{% endblock %}
</body>
