{% extends 'base/base.html' %}

{% load static %}

{% block title %}Lista Medicos{% endblock %}

<body>

{% block body %}
    <div class="login100-form-title" style="padding-bottom: 44px;">
        <h1>Consulta Externa Hospital Naval</h1>
    </div>
    {% if object_list %}
    <h2>Medicos</h2>
    <table class="table table-dark table-striped table-hover text-center" border="1">
        <thead>
            <td>Nombre</td>
            <td >Accion</td>
        </thead>
        <tbody>
            {% for medi in object_list %}
            <tr>
                <td>{{ medi.name }}</td>
                <td><a class="btn btn-default btn-outline-success" href="{% url 'CEHN:listacitas' medi.id_Medic %}">Consultar</a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% else %}
    <h2>No tiene citas programadas</h2>
    {% endif %}

{% endblock %}
{% block admin %} {% endblock %}

</body>
