{% extends 'base/base.html' %}

{% load static %}

{% block title %}CANCELAR CITAS{% endblock %}
<body>
{% block body %}
    <div class="login100-form-title" style="padding-bottom: 44px;">
        <h1>Consulta Externa Hospital Naval</h1>
    </div>
    {% if object_list %}
    <table class="table table-dark table-striped table-hover text-center" border="1">
        <thead>
        <tr>
            <td>Fecha</td>
            <td>Hora</td>
            <td>Paciente</td>
            <td colspan="2">Accion</td>
        </tr>
        </thead>
        {% for appo in object_list %}
        <tr>
            <td>{{ appo.id_aval1.date }}</td>
            <td>{{ appo.id_aval1.id_inter1 }}</td>
            <td>{{ appo.id_pac1.name }}</td>
            <td><a class="btn btn-default btn-outline-success" href="{% url 'CEHN:confirmconsul' appo.id_appo %}">Confirmar</a></td>
            <td><a class="btn btn-default btn-outline-danger" href="{% url 'CEHN:citaperdida' appo.id_appo %}">Perder</a></td>
        </tr>
        {% endfor%}
    </table>
    {% else %}
        <h2>No tiene Citas Apartadas para Hoy</h2>
    {% endif%}
{% endblock %}
</body>
