{% extends 'base/base.html' %}

{% load static %}

{% block title %}PERDER CITAS{% endblock %}

<body>
{% block body %}
    <div class="login100-form-title" style="padding-bottom: 44px;">
        <h1>Consulta Externa Hospital Naval</h1>
    </div>
    Paciente: {{ form.instance.id_pac1.name }}<br>
    Fecha: {{ form.instance.id_aval1.date }}<br>
    Hora: {{ form.instance.id_aval1.id_inter1.hour_start }}<br>
    Consultorio: {{ form.instance.id_aval1.id_off2.door_number }}<br>
    Medico: {{ form.instance.id_aval1.id_med2.name }}<br>
     <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-default btn-outline-danger" type="submit" value="Cancelar">Perder</button>
        <a class="btn btn-default btn-outline-success" href="{% url 'CEHN:medicos' %}">REGRESAR</a>
     </form>
{% endblock %}
</body>
