/*Estilos a avail.html*/

body{
    color: #000000;
    font-family: "Lucida Grande";
    font-size: 130%;
    background: url("../CEHN/images/medical-equipment-4099430_1920.jpg") no-repeat center fixed;
    background-size:100% 100%;
    background-color: rgba(212,239,292,1);
}
.cont1{
    margin: auto;
    width: 70%;
    height: 10%;
    /*border: rgba(212,228,239,1) solid 0.5em;
    background: rgba(242,246,248,1);*/
}

.cont_label, label{
    margin-top: 3.5%;
}

label, p{
    color: #007bff;
    /*font-weight: bold;*/
}

.txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: black;
    margin-left: 47.5%;
}

/* Estilos a created_appointment.html */

.text_appo{
    display: block;
}

h1{
    margin-bottom: 3.5%;
}