body{
    color: #000000;
    font-family: "Lucida Grande";
    background: url("../CEHN/images/medical-equipment-4099430_1920.jpg") no-repeat center fixed;
    background-size:100% 100%;
    background-color: rgba(212,239,292,1);
}
.cont1{
    margin: 2% 40%;
    border: rgba(212,228,239,1) solid 0.5em;
    background: rgba(242,246,248,1);
}

.cont_label{
    margin-top: 20%;
}

label{
    color: #007bff;
}

input, select{
    display: block;
    margin-bottom: 20%;
    padding: 2%;
}