{% extends 'base/base.html' %}

{% load static %}

{% block title %}Create Availability{% endblock %}
<body>

{% block body %}
<div class="login100-form-title">
        <a style="padding-left: 750px;" href="{% url 'logout' %}?next=/login"><input type="image" height="35px"
                                                                                     src="{% static 'CEHN/images/icons/iconfinder_power_926636.png' %}"></a>

    </div>
<div class="login100-form-title">
    <h1>Crear Disponibilidades</h1>
</div>
<div class="login100-form-title text-center">
    <form id="target" action="." method="POST">
        {% csrf_token %}
            {{ form.as_p }}
         <br><div class="container-login100-form-btn">
            <input class="login100-form-btn" style="cursor:pointer; width: 35%;" type="submit"  value="Enviar">
        </div><br>
        <a class="txt2" style=".txt2 {font-family: Poppins-Regular;font-size: 13px;line-height: 1.5;color: black;margin-left: 47.5%;}" href="{% url 'CEHN:home' %}">Volver</a>
    </form>
</div>

<script>
    {% if message %}
        alert('{{message}}')
    {% endif %}
</script>
<a href="{% url 'CEHN:home' %}"></a>
</body>
{% endblock %}
</html>
