{% extends 'base/base.html' %}

{% load static %}

{% block title %}MEDIC REGISTER{% endblock %}

<body>

{% block body %}
<div class="login100-form-title" >
    <a style="padding-right: 610px;" href="{% url 'logout' %}?next=/login"><input type="image" height="35px"
                                                    src="{% static 'CEHN/images/icons/iconfinder_power_926636.png' %}"></a>
    <a class="txt2" href="{% url 'CEHN:home' %}">
        Volver
    </a>
</div>
<div class="login100-form-title">
    <h1>Medic register</h1>
</div>
<div class="login100-form-title text-center">
    <form method="post">
        {% csrf_token %}
        <div class="wrap-input100 validate-input text-center">
            <span>Name {{form.name}} </span><br>
            <span>First last name {{form.lastname1}} </span><br>
            <span>Second last name {{form.lastname2}} </span><br>
            {{ form.errors.identification }}
            <span>Identification {{form.identification}} </span><br>
            <span>Age {{form.age}} </span><br>
            <span>Sex </span><br>{{form.sex}} <br><br>
            <span>Phone {{form.phone}} </span><br>
            <span>Address {{form.address}} </span><br>
        </div>
        <div class="wrap-input100 validate-input text-left">
            <h1>User</h1>
        </div>
        <div class="wrap-input100 validate-input text-center">
            {{ form1.errors.username }}
            <label>Username</label>{{form1.username}}<br>
            <label>Email</label>{{form1.email}}<br>
            {{ form1.errors.password2 }}
            <label>Password</label><input class="input100" {{form1.password1}}<br>
            <label>Repeat password</label><input class="input100" {{form1.password2}}<br>
        </div>
        <div class="container-login100-form-btn">
            <input class="login100-form-btn" style="width: 35%" type="submit" value="Enviar">
        </div>
    </form>
</div>


{% endblock %}
{% block extrajs %}
<script>
    // Funcion que se ejecuta cada vez que se pulsa una tecla en cualquier input
    // Tiene que recibir el "event" (evento generado) y el siguiente id donde poner
    // el foco. Si ese id es "submit" se envia el formulario
    function justNumbers(e) {
        var keynum = window.event ? window.event.keyCode : e.which;
        if ((keynum == 8) || (keynum == 46))
            return true;

        return /\d/.test(String.fromCharCode(keynum));
    }

    //La misma función que la anterior sólo que solo letras
    function soloLetras(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }

    function saltar(e, id) {
        // Obtenemos la tecla pulsada
        (e.keyCode) ? k = e.keyCode : k = e.which;

        // Si la tecla pulsada es enter (codigo ascii 13)
        if (k == 13) {
            // Si la variable id contiene "submit" enviamos el formulario
            if (id == "submit") {
                document.forms[0].submit();
            } else {
                // nos posicionamos en el siguiente input
                document.getElementById(id).focus();
            }
        }
    }

</script>
{% endblock%}
</body>