{% extends 'base/base.html' %}

{% load static %}

{% block title %}Medic registered{% endblock %}
<body>

{% block body %}

<div class="login100-form-title text-success text-center">
    <h1>Medico registrado con exito</h1>
</div>

<div class="login100-form-title p-t-12">
    <a class="txt2" href="{% url 'CEHN:registrar_medico' %}">
        Volver
    </a>
</div>

{% endblock %}


</body>
