{% extends 'base/base.html' %}

{% load static %}

{% block title %}Patient registered{% endblock %}
<body>

{% block body %}

<div class="login100-form-title text-success text-center">
    <h1>Paciente registrado con exito</h1>
</div>
<div class="login100-form-title p-t-12">
    <a class="txt2" href="{% url 'CEHN:registar_paciente' %}">
        Volver
    </a>
</div>
{% endblock %}


</body>
